@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

.digital{
    text-align: center !important;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: 18px;
}
